<!DOCTYPE html>
<html lang="en">
<head>
    <title>Welcome to MPS!</title>
</head>
<body>
<h1>Welcome to MPS!</h1>

{#{% if user.isLoggedIn %}#}
{#    Hello {{ user.name }}!#}
{#{% endif %}#}

{# ... #}
</body>
</html>